$fadeDuration: .5s;
$fadeMethod: ease;

$slideX: 20%;
$slideY: 20%;

$scaleDuration: .3s;
$scaleMethod: ease;
$scaleSmall: 0.7;
$scaleLarge: 1.4;

$bounceDuration: 1s;
$bounceStart: -300%;
$bounceStop: 10%;
$bounceBack: -5%;
$bounceEnd: 0%;

$rotateDuration: .75s;
$rotateMethod: ease;
$rotateStartAngle: 200;
$rotateEndAngle: 0;

$rotateHingedDuration: 1s;
$rotateHingedMethod: ease;
$rotateHingedStartAngle: 90;
$rotateHingedEndAngle: 0;