@import '../../transitions/fade';

@include keyframes('animate-rotate-in') {
	0% { 
		@include rotate($rotateStartAngle * -1);
		@include transform-origin(center center);
		opacity: 0;
	}

	100% {
		@include rotate($rotateEndAngle);
		@include transform-origin(center center);
		opacity: 1;
	}
}

@keyframes keyframes('animate-rotate-out') {
	0% {
		@include transform-origin(center center);
		@include rotate($rotateEndAngle);
		opacity: 1;
	}

	100% {
		@include transform-origin(center center);
		@include rotate($rotateStartAngle);
		opacity: 0;
	}
}

.animate-rotate.ng-enter {
    @include animation(animate-rotate-in, $rotateDuration);
}

.animate-rotate.ng-leave {
	@include animation(animate-rotate-out, $rotateDuration);
}