@include keyframes('animate-rotate-in-down-right') {
	0% { 
		@include rotate($rotateHingedStartAngle);
		@include transform-origin(right bottom);
		opacity: 0;
	}

	100% {
		@include rotate($rotateHingedEndAngle);
		@include transform-origin(right bottom);
		opacity: 1;
	}
}

@include keyframes('animate-rotate-out-down-right') {
	0% {
		@include rotate($rotateHingedEndAngle);
		@include transform-origin(right bottom);
		opacity: 1;
	}

	100% {
		@include rotate($rotateHingedStartAngle * -1);
		@include transform-origin(right bottom);
		opacity: 0;
	}
}

.animate-rotate-down-right.ng-enter {
    @include animation(animate-rotate-in-down-right $rotateDuration);
}

.animate-rotate-down-right.ng-leave {
	@include animation(animate-rotate-out-down-right $rotateDuration);
}