@include keyframes('animate-rotate-in-up-left') {
	0% { 
		@include rotate($rotateHingedStartAngle);
		@include transform-origin(left bottom);
		opacity: 0;
	}

	100% {
		@include rotate($rotateHingedEndAngle);
		@include transform-origin(left bottom);
		opacity: 1;
	}
}

@include keyframes('animate-rotate-out-up-left') {
	0% {
		@include rotate($rotateHingedEndAngle);
		@include transform-origin(left bottom);
		opacity: 1;
	}

	100% {
		@include rotate($rotateHingedStartAngle);
		@include transform-origin(left bottom);
		opacity: 0;
	}
}

.animate-rotate-up-left.ng-enter {
    @include animation(animate-rotate-in-up-left $rotateDuration);
}

.animate-rotate-up-left.ng-leave {
	@include animation(animate-rotate-out-up-left $rotateDuration);
}